/* 
use grid to create the board */
html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: #254441;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
    font-family: 'Irish Grover';
    color: white;
}



.player {
    font-size: smaller;
    display: inline-block;
}

#title {
    display: block;
    font-size: xx-large;
}
#clock {
    display: none;
    font-size: xx-large;
}
#startButton {
    background-color: #9900FF;
    font-family: 'Irish Grover';
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 5px;
}

#buttonSub {
    display: none;
}

canvas {
    background-image: url('stadium.png');
  /* background-repeat: repeat; */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#container {
max-width: 50em;
/* height: 70vh; */
background-color: #ddd1c7;
margin: 1% auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .25fr .5fr .25fr;
grid-template-columns: .50fr .50fr;
grid-template-areas: "top-left top-right"
                          "game game"
                      "btm-left btm-right";
}

#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6AA84F;
}

#top-left {
    grid-area: top-left;
}

#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}


#p1-btm-left {
    grid-area: btm-left;
    background-color: #FF006E;
    line-height: 50%;
    font-size: xx-large;
}

#p2-btm-right {
    grid-area: btm-right;
    background-color: #6AA84F;
    font-size: xx-large;
}
